subjective-abstract-data-source-package @ git+https://github.com/Subjective-Technologies/subjective-abstract-data-source-package.git
brainboost-data-source-logger-package @ git+https://github.com/Subjective-Technologies/brainboost_data_source_logger_package.git
brainboost-configuration-package @ git+https://github.com/Subjective-Technologies/brainboost_configuration_package.git
brainboost-trading-for-subjective @ git+https://github.com/Subjective-Technologies/brainboost_trading_for_subjective.git
